body{
   background-image: url("https://img.freepik.com/free-vector/hand-drawn-namaste-gesture_23-2147694900.jpg?semt=ais_hybrid&w=740" ) !important;
   background-position: center;
   background-size: cover;
   background-repeat: no-repeat;
   
   
   


}
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("https://img.freepik.com/free-vector/hand-drawn-namaste-gesture_23-2147694900.jpg?semt=ais_hybrid&w=740");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    filter: blur(3px); 
    z-index: -1;
  }
.navbar{
    height: 4rem;
    background-color:brown;
}
.fa-gopuram{
    color: goldenrod;
    font-size: 2rem;
}
.nav-link{
    color:rgb(14, 1, 1) !important;
    font: bolder;
}
.f-info-link a{
    text-decoration: none;
    color: black;
}
.f-info-link a:hover{
    text-decoration: underline;
    color: black;
}
.f-info-link{
    width: 100%;
}
.f-info-social{
    width: 100%;
}
.f-info-social i{
    
    font-size:1.2rem;
    margin-right: 1rem;
    margin-top: 3rem;
}
.f-info{

    text-align: center;
    display: flex;
    background-color: brown;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    height: 8rem;
}
.card{
    border: none !important;
    margin-bottom: 2rem;
    box-shadow:pink;
    border-radius:8px !important;
}

.card-img-top{

    background:linear-gradient(135deg,brown,rgb(185, 23, 23),#e95151 );
    width: 100% !important;
    object-fit: cover !important;

}
.card-body{
    padding: 3% !important;
    background:linear-gradient(135deg,brown,rgb(185, 23, 23),#e95151 );
    
     
}
.card-text p {
    font: 400 !important;
}
.show-card{
    border-radius: 10px !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.show-img{
    height: 40vh;
    border: none;
    width: 100% !important;
    object-fit: cover !important;
    
}
.v-btn{
border-radius: 2rem;
background-color: rgb(190, 44, 44);
padding: 10px;
color:rgb(231, 200, 161);

}
.btn{
    margin-bottom: 4rem;
    
}
.centre{
    text-align: center;
    margin-top: 20rem;
    margin-bottom: 15rem;
    color: rgb(36, 31, 31);
    
}


