/*body{
    background-color: brown;
}*/
.navbar{
    height: 5rem;
    background-color:brown;
}
.fa-gopuram{
    color: goldenrod;
    font-size: 2rem;
}
.nav-link{
    color:rgb(14, 1, 1) !important;
    font: bolder;
}
.f-info-link a{
    text-decoration: none;
    color: black;
}
.f-info-link a:hover{
    text-decoration: underline;
    color: black;
}
.f-info-link{
    width: 100%;
}
.f-info-social{
    width: 100%;
}
.f-info-social i{
    
    font-size:1.2rem;
    margin-right: 1rem;
    margin-top: 3rem;
}
.f-info{

    text-align: center;
    display: flex;
    background-color: brown;
    flex-wrap: wrap;
    justify-content: center;
    align-items: space-evenly;
    height: 15rem;
}
.card{
    border: none !important;
    margin-bottom: 4rem;
}
.card-img-top{
    border-radius: 2rem;
    width: 100% !important;
    object-fit: cover !important;

}
.card-body{
    padding: 0% !important;
}
.card-text p {
    font: 400 !important;
}
.listing-link{
    text-decoration: none;
}
.card-img-overlay{
opacity: 0;
}
.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}
.show-img{
    height: 40vh;
}

