<% layout("/layouts/boilerplate") %>
<body style="margin-top: 200px; ">
    <h3>Create New Listing</h3>
   <form method="post" action="/listing">
    <div><label for="title" class="form-label">Title</label>
    <input type="text" name="listing[title]" placeholder="enter title" class="form-control" ></div>
    
    <div> <label for="description" class="form-label">Description</label>
    <textarea name="listing[description]" placeholder="enter description" class="form-control" ></textarea></div>
   
    <div> <label for="image" class="form-label"> Image Link</label>
    <input name="listing[image]" placeholder="enter image URL" class="form-control" type="text"></div>
   
    <div> <label for="price" class="form-label"> Pice</label>
    <input name="listing[price]" placeholder="enter price" class="form-control" type="number"></div>
   
    <div> <label for="location" class="form-label">Location</label>
    <input name="listing[location]" placeholder="enter location" class="form-control" type="text"></div>
    <br><br>
   
    <div><button class="btn btn-dark">Add</button></div>
    
   </form> 
</body>
</html>