<% layout("/layouts/boilerplate")  %>
<body class="home">
   <div class="  opacity-0.5">
      <img src="https://img.freepik.com/premium-vector/drawing-temple-with-green-roof-blue-green-design_712332-585.jpg?semt=ais_hybrid&w=740" height="400px" >
      <h1 class="centre"> <i>Welcome!</i></h1>
      <p><i><b>Blessed ways</b> a website for pilgrim travel</i></p>
      <button style="border: none; background-color:orangered; margin-bottom: 40px;"><a class="nav-link" href="/listing">Explore Now</a></button>
      

</div>
</body>
</html>